extends layout

block content
  div.container
    table.table
      tr
        th Id
        th Date
        th Name
        th Email
        th Amount
        th Kt
      each row in orders
        tr
          td= row.id
          td= row.date
          td= row.name
          td= row.email
          td= row.amount
          td= row.ssn
    p.container__text
      a.table__download(href="/admin/download") Sækja  

  footer.footer
    p.footer__text
      a(href="/") Forsíða