extends layout

block content
  if errorMessages
    ul.errorMessages
      each msg in errorMessages
        li= msg
  form.input(method="post" action="/")
    label.input__item Nafn:
      input(type="text" name="name" value=name)
    label.input__item Netfang:
      input(type="email" name="email" value=email)
    label.input__item Kennitala:
      input(type="text" name="ssn" pattern="[0-9]{6}-?[0-9]{4}" value=ssn)
    label.input__item Fjöldi:
      input(type="number" name="amount" min="1" value=amount)
    button.input__button Senda

  footer.footer
    if !userdata
      p.footer__text
        a(href='/login') Innskráning
    if userdata
      p.footer__text Innskráður notandi: #{userdata.name}
      p.footer__text
        a(href="/logout") Útskráning
      p.footer__text
        a(href="/admin") Stjórnsíða